<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImageResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <userSettings>
    <ImageResizer.Properties.Settings>
      <setting name="SelectedSizeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShrinkOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Replace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreOrientation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JpegQualityLevel" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="PngInterlaceOption" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="TiffCompressOption" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>%1 (%2)</value>
      </setting>
      <setting name="CustomSize" serializeAs="Xml">
        <value>
          <CustomSize xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Name>Custom</Name>
            <Fit>Fit</Fit>
            <Width>1024</Width>
            <Height>640</Height>
            <Unit>Pixel</Unit>
          </CustomSize>
        </value>
      </setting>
      <setting name="KeepDateModified" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FallbackEncoder" serializeAs="String">
        <value>19e4a5aa-5662-4fc5-a0c0-1758028e1057</value>
      </setting>
    </ImageResizer.Properties.Settings>
  </userSettings>
</configuration>
