<header>
  <img src="{{ "/images/icon.png" | prepend: site.baseurl }}" style="float:left;padding-right:11px" />
  <h1>{{ site.title }}</h1>
  <p style="clear:left">{{ site.description }}</p>
  <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
  <ul>
    <li><a href="{{ site.github.releases[0].assets[0].browser_download_url }}">{{ site.github.releases[0].name }} <strong>Download</strong></a></li>
  </ul>
</header>
