<header>
  <img src="{{ "/images/icon.png" | relative_url }}" style="float:left;padding-right:11px" />
  <h1>{{ site.title }}</h1>
  <p style="clear:left">{{ site.description }}</p>
  <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
  <ul>
    {% assign release = site.github.releases | where:"draft",false | where:"prerelease":false | first %}
    <li><a href="{{ release.assets[0].browser_download_url }}">{{ release.name }} <strong>Download</strong></a></li>
  </ul>
</header>
