<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?foreach Language in cs;de;es;eu-ES;fr;it;pl?>
  <!-- Ids can't contain hyphens -->
  <?if $(var.Language) = eu-ES?>
    <?define IdSafeLanguage = eu_ES?>
  <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
  <?endif?>
  <Fragment>
    <FeatureRef Id="ProductFeature">
      <ComponentRef Id="$(var.IdSafeLanguage)_Component" />
    </FeatureRef>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="$(var.IdSafeLanguage)_Dir" Name="$(var.Language)" />
    </DirectoryRef>
    <Component Id="$(var.IdSafeLanguage)_Component" Directory="$(var.IdSafeLanguage)_Dir">
      <File Id="$(var.IdSafeLanguage)_File"
            Source="$(var.ImageResizer.TargetDir)$(var.Language)\ImageResizer.resources.dll" />
    </Component>
  </Fragment>
  <?undef IdSafeLanguage?>
<?endforeach?>
</Wix>
