<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
<?foreach Language in cs;de;es;eu-ES;fr;it;pl?>
  <?if $(var.Language) = eu-ES?>
    <!-- Ids can't contain hyphens -->
    <?define IdSafeLanguage = eu_ES?>
  <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
  <?endif?>
      <Directory Id="$(var.IdSafeLanguage)_Dir" Name="$(var.Language)" />
  <?undef IdSafeLanguage?>
<?endforeach?>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ResourcesComponents">
<?foreach Language in cs;de;es;eu-ES;fr;it;pl?>
  <?if $(var.Language) = eu-ES?>
    <?define IdSafeLanguage = eu_ES?>
  <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
  <?endif?>
      <Component Id="$(var.IdSafeLanguage)_Component" Directory="$(var.IdSafeLanguage)_Dir">
        <File Id="$(var.IdSafeLanguage)_File"
              Source="$(var.ImageResizer.TargetDir)$(var.Language)\ImageResizer.resources.dll" />
      </Component>
  <?undef IdSafeLanguage?>
<?endforeach?>
    </ComponentGroup>
  </Fragment>
</Wix>
