<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BriceLambson.ImageResizer.Properties.AdvancedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BriceLambson.ImageResizer.Properties.AdvancedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BriceLambson.ImageResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BriceLambson.ImageResizer.Properties.AdvancedSettings>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://imageresizer.svn.codeplex.com/svn/releases.xml</value>
      </setting>
      <setting name="UpdateFilter" serializeAs="String">
        <value>Alpha</value>
      </setting>
    </BriceLambson.ImageResizer.Properties.AdvancedSettings>
  </applicationSettings>
  <userSettings>
    <BriceLambson.ImageResizer.Properties.AdvancedSettings>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileNameFormat" serializeAs="String">
        <value>{0} ({1})</value>
      </setting>
      <setting name="QualityLevel" serializeAs="String">
        <value>75</value>
      </setting>
    </BriceLambson.ImageResizer.Properties.AdvancedSettings>
    <BriceLambson.ImageResizer.Properties.Settings>
      <setting name="CustomSize" serializeAs="Xml">
        <value>
          <CustomSize>
            <Mode>Scale</Mode>
            <Width>1280</Width>
            <Height>720</Height>
            <Unit>Pixels</Unit>
          </CustomSize>
        </value>
      </setting>
      <setting name="ReplaceOriginals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShrinkOnly" serializeAs="String">
        <value>False</value>
      </setting>
    </BriceLambson.ImageResizer.Properties.Settings>
  </userSettings>
</configuration>