<?xml version="1.0" encoding="UTF-8"?>
<?include Config.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER64" Name="Image Resizer for Windows">
          <Component Id="ShellExtensions64">
            <File Id="ShellExtensions64" Source="$(var.SolutionDir)x64\$(var.Configuration)\ShellExtensions.dll" />
            <RegistryKey Root="HKCR" Key="CLSID">
              <RegistryKey Key="$(var.CLSID_ContextMenuHandler)">
                <RegistryKey Key="InprocServer32">
                  <RegistryValue Type="string" Value="[#ShellExtensions64]" />
                  <RegistryValue Type="string" Name="ThreadingModel" Value="Apartment" />
                </RegistryKey>
              </RegistryKey>
            </RegistryKey>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <Feature Id="ImageResizer64" Level="1">
      <ComponentRef Id="ShellExtensions64" />
      <FeatureRef Id="ImageResizer" />
    </Feature>
  </Fragment>
</Wix>
