<?xml version="1.0" encoding="utf-8"?>
<?include Config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Language="!(loc.Language)" Manufacturer="$(var.Manufacturer)" Name="$(var.ProductName)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)">
    <Package Compressed="yes" InstallerVersion="300" />
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />
<?if $(var.Platform) = x86 ?>
    <Condition Message="!(loc.BitIgnorantUserWarning)">
      <![CDATA[%PROCESSOR_ARCHITECTURE = "x86" AND NOT %PROCESSOR_ARCHITEW6432]]>
    </Condition>
<?endif ?>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)" Name="Program Files">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.Product)" />
      </Directory>
    </Directory>
    <FeatureRef Id="ImageResizerFeature" />
<?if $(var.Platform) = x64 ?>
    <FeatureRef Id="ImageResizer64Feature" />
<?endif ?>
    <WixVariable Id="WixUILicenseRtf" Value="Content\epl-v10.rtf" />
    <Property Id="ApplicationFolderName" Value="$(var.Product)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ALLUSERS" Value="1" />
    <UIRef Id="WixUI_Advanced" />
  </Product>
</Wix>
